
 /////// Hem

 // small phone


// ipad 

/////// Hem



@include  media('<=desktop') {
    .container {
        .header {
            background-size: 64%;
        }
    }

    // hom screen
    html {
        font-size: 55%;
    }

    .main-hem {
        margin: auto 2rem;

        .text-wrapper {
            h2 {
                font-size: 4.4rem;
            }
        }
    }   

    .main {
        .over-main {
            .center-välkomen-shop {
                font-size: 9rem;
            }

            .text-shop {
                font-size: 4rem;
            }

        }
    }

    //nav center
    ul {
        li {
            margin: 5rem 0;

            a {

                svg {
                    font-size: 8rem;
                }

                h4 {
                    font-size: 4.1rem;
                }
            }
        }
    }

    

    .main-forum {
        .top-info {

            .top-info_serch {
                margin-bottom: 2rem;

            }
        }

    }

    ///// doing first aid on add coment 
    .container {
        .main {
            margin: auto 5rem;
        }
    }

    .main {
        .content_form {
            .content_form_btn {
                height: 4rem;
            }

            textarea {
                font-size: 3rem;
            }

            input {
                font-size: 3rem;
            }

            input[type='text'] {
                width: 50rem;
            }
        }
    }

}

@include media('<=tablet') {
    .container {
        .header {
            background-size: 80%;
        }
    }

    // hom screen
    html {
        font-size: 50%;
    }

    .main-hem {
        margin: auto 2rem;

        .text-wrapper {
            h2 {
                font-size: 4.4rem;
            }
        }
    }

    //nav center
    ul {
        li {
            margin: 5rem 0;

            a {

                svg {
                    font-size: 8rem;
                }

                h4 {
                    font-size: 4.1rem;
                }
            }
        }
    }

    // shop
        .main {
            .over-main {
                .center-välkomen-shop {
                    font-size: 8rem;
                }
    
                .text-shop {
                    font-size: 5rem;
                }
    
            }
        }

    // nav corner 


    .main-forum {
        .top-info {

            .top-info_serch {
                margin-bottom: 2rem;

            }
        }

    }



    ///// doing first aid on add coment 
    .container {
        .main {
            margin: auto 5rem;
        }
    }

    .main {
        .content_form {
            .content_form_btn {
                height: 4rem;
            }

            textarea {
                font-size: 3rem;
            }

            input {
                font-size: 3rem;
            }

            input[type='text'] {
                width: 50rem;
            }
        }
    }

}
 
@include media('<=phone') {
    .container {
        .header {
            background-size: 80%;
        }
    }


    // hom screen

    html {
        font-size: 30%;
    }



    .main-hem {
        margin: auto 2rem;

        .text-wrapper {
            h2 {
                font-size: 6rem;
            }
            h3{
                font-size: 5rem;
            }
        }
    }


    //nav center

    ul {
        li {
            margin: 5rem 0;

            a {

                svg {
                    font-size: 8rem;
                }

                h4 {
                    font-size: 4rem;
                }
            }
        }
    }


    // kundvagn


.kundvagn {
    font-size: 1.5rem;
    font-family: 'Cutive Mono', monospace;
    position: absolute;
    top: 6rem;
    right: 6rem;
    font-size: 2rem;
    width: 6rem;
    height: 6rem;
    transition: all 0.3s;

    .counter {
        position: absolute;
        top: -1rem;
        right: 7rem;
        width: 4rem;
        height: 4rem;
        border-radius: 2rem;
        border: solid 0.1rem rgb(184, 184, 184); // cirkel in counter
        font-size: 2rem;
        color: rgb(190, 190, 190); ///// number in counter
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


    .main-forum {
        .top-info {
            flex-direction: column;
            height: 30rem;

            .top-info_serch {
                margin-bottom: 2rem;

            }
        }

    }


    ///// doing first a id on add coment 

    .container {
        .main {
            margin: auto 5rem;
        }
    }



    .main {
        .content_form {
            .content_form_btn {
                height: 4rem;
            }

            textarea {
                font-size: 3rem;
            }

            input {
                font-size: 3rem;
            }

            input[type='text'] {
                width: 50rem;
            }
        }
    }
}